[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ACWR"]
	path = ACWR
	url = https://github.com/jorgedelro/acwr
[submodule "MFO"]
	path = MFO
	url = https://github.com/jorgedelro/mfo
